body {
    background-color: antiquewhite;
  }
  .five {
    background: #F7F4ED;
    padding: 50px 20px 50px 170px;
    text-align: center;
  } 
  .five h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    color: #587493;
    font-size: 2.5em;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding: 8px 20px 8px 2px;
    border-top: 4px solid;
  }
  .five h1:before {
    content: "Homemade";
    position: absolute;
    top: -9px;
    left: -220px;
    font-size: 1.3em;
    transform: rotate(-15deg);
    font-family: 'Marck Script', cursive;
  }
  .five h1:after {
    content: ""; 
    position: absolute;
    width: 140%;
    height: 4px;
    right: 0;
    bottom: -4px;
    background: #587493;
  }
  .forms{
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 90vh;
    line-height: 90px;
    
  
  }
  .center{
    text-align: center;
  }
 